---
import Sample from '../components/sample/sample.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1 data-cms-options='{"bold": true, "italic": true}' class="editable">
            Astro
        </h1>
        <Sample text="Hello from the sample component" />
        <h2 id="hero" data-cms-bind="#hero_content">Hello</h2>
    </body>
</html>

<script>
    document.addEventListener('cloudcannon:load', function (e) {
        onLiveEditorLoad(e.detail.CloudCannon);
    });
    if (!window.CloudCannon) {
        document.addEventListener('cloudcannon:load', function (e) {
            onLiveEditorLoad(e.detail.CloudCannon);
        });
    } else {
        onLiveEditorLoad(window.CloudCannon);
    }
    function onLiveEditorLoad(CloudCannon) {
        CloudCannon.enableEvents();
    }
    document.addEventListener('cloudcannon:update', async function (e) {
        useNewPageProps(e.detail.CloudCannon);
    });
    async function useNewPageProps(CloudCannon) {
        const latestValue = await CloudCannon.value();
        const el = document.querySelector('[data-cms-bind="#hero_content"]');
        el.innerHTML = JSON.stringify(latestValue);
    }
</script>
