---
import Sample from '../components/sample/sample.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <h1 data-cms-options='{"bold": true, "italic": true}' class="editable">
            Astro
        </h1>
        <Sample text="Hello from the sample component" />
        <h2 data-cms-bind="#hero_content">Hello</h2>
    </body>
</html>
